<section id="cta" style="padding:6.8em;">
    <a name="contactsection"></a>
    <h2>Member Sign In</h2>
    <form action="http://differenzuat.com/democart/index.html" id="cform" onsubmit="return validateForm()">
        <div class="row uniform 80%">
            <div class="12u 12u(3)">
                <input type="email" name="email" id="email" value="" placeholder="Email" required />
            </div>
            <div class="12u 12u(3)">
                <input type="password" name="passwd" id="passwd" value="" placeholder="Password" required />
            </div>
        </div>
        <input type="hidden" name="ModelName" value="SysLogin" />
        <input type="hidden" name="FunctionName" value="nmem" />
        <div class="row uniform">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" value="Submit" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>